.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post{
  background:#FFFCF9;
  border-radius: 10px;
  width: 800px;
  border-style:solid;
  padding: 2%;
  text-align: justify;
  color: #EF476F;
  }
  
  .date{
      text-align: end;
  }
  
  .navlinks{
  color: #06D6A0;
  padding: 10px;
  text-align:center;
  font-weight: bolder;}
  
  .linx{
      background-color: #06D6A0;
      padding-right: 10pt;
      
  }
  .navbar{
      background-color: #26547C;
  }
  
  body {
      background-color: #FFD166;
      font-family:'Courier New', Courier, monospace;
      font-weight: 700;
      color: #523F38;
      }
  
  .otherbtn{
     background-color: #EF476F;
  }
  
  .register{
      text-align: center;
      
  }
  
  .body {
      padding-left: 20px;
  }