.container {
    padding: 5px 2px 5px 2px  ;
    margin: 0px 50px;
    background-color: white;
}

h3 {
    align-items: stretch;
    justify-content: space-around;
}
 
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
    .row {
    margin-top: 10px;
  }
 

 