<h1>Add a New Recipe</h1>
{{!-- <form action='/recipes/add' method="POST">
    <label for="recipeName">Recipe Name: </label>
    <input type="text" name="recipeName" placeholder="Enter Recipe Name" /><br>

    <label for="imgUrl">Image Url: </label>
    <input type="text" name="imgUrl" placeholder="Enter URL" /><br>

    <label for="description">Recipe Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br>

    <button type="submit">Add Item</button>
    <a href="/recipes">Return Home</a>
</form> --}}



<form action="/recipes/results" method="GET">
 <Label> Chose your protein</Label>
<select id="protein">  
  <option value="1">Chicken</option>
  <option value="2">Fish</option>
  <option value="3">Beef</option>
</select> 
<br>
<button onclick="submit">Find Recipe</button>  
</form>


