<h1>Edit Recipe Below</h1>
{{#with foundRecipe}}
<form action='/recipes/edit/{{recipeId}}' method="POST">
    <label for="recipeName">Recipe Name: </label>
    <input type="text" name="recipeName" placeholder="Enter Recipe Name"
    value="{{recipeName}}"/><br>

    <label for="imgUrl">Image Url: </label>
    <input type="text" name="imgUrl" placeholder="Enter URL"  
    value="{{imgUrl}}"/><br>
    

    <label for="description">Recipe Description: </label>
    <input type="text" name="description" placeholder="Enter Description" 
    value="{{description}}"/><br>

    <button type="submit">Edit Friend</button><br>

    <a href="/recipes">Return Home</a>
</form>
{{/with}}