<h1>Recipe Results</h1>
<ul>
  <div class="row">
      
        {{#each recipe}}<div class="column">
        <div class="card">
            
          <h1>{{title}}</h1>
          <img src={{image}} class="img"/><br><br>
          <a href="/recipes/{{id}}">View Details</a>
          <button type="submit">Delete Item</button>
        </form><br>
        </div></div>
        {{/each}}
      

    </div><br>

    {{!-- ID;
Title:
Image:
Servings:
Ready in minutes:

ExtendedIngredients: --}}



  

  <a href="/recipes">Home</a>
</ul>  


  