<div class="detailspage">
<h1>{{foundRecipe.recipeName}}</h1>
<img src= {{foundRecipe.imgUrl}} class="detailsimg"></img>
<h2 >{{foundRecipe.description}}</p>
<a href="/recipes/edit/{{foundRecipe.recipeId}}">Edit Details</a>
<a href="/recipes">Take me Home</a>

</div>
